
.container{
    width: 100%;
    height: 9vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px;
}

.user_photo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.user_photo_empty{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #c4c4c4;
}

.menu_bars{
    transform: scale(2.5);
    margin-left: 10px;
    color: #000;
}

.signout_btn{
    border-style:none;
    background-color: transparent;
    color: #000;
    font-size: 18px;
    cursor: pointer;
}